body {
    background: black;
}

main {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow: scroll;
}

maze-path {
    display: block;
}

span {
    font-size: 50px;
    display: fixed;
}

#level {
    position: sticky;
    color: lightcoral;
    left: 90%;
}